html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;


  /* background-color: var(--mui-palette-background-default);
  color: var(--mui-palette-text-primary); */
  /* color: var(--mui-palette-text-primary); */
  
  /* css variables */
  /* primary */
  --primary-50: #edf4fc;
  --primary-100: #c7ddf6;
  --primary-200: #acccf2;
  --primary-300: #86b5ec;
  --primary-400: #6ea6e8;
  --primary-500: #4c8fdc;
  --primary-600: #467bbd;
  --primary-700: #3a679d;
  --primary-800: #325985;
  --primary-900: #2b4c71; 
  --primary-light: #c7ddf6;
  --primary-main: #6ea6e8;
  --primary-dark:  #467bbd; 

  /* grey */
  --grey-50:  #ffffff;
  --grey-100: #e5e5e5;
  --grey-200: #cccccc;
  --grey-300: #b2b2b2;
  --grey-400: #999999;
  --grey-500: #808080;
  --grey-600: #666666;
  --grey-700: #4d4d4d;
  --grey-800: #333333;
  --grey-900: #000000;


  },

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
